{% extends "layout.html" %}
{% block content %}

 <H1><center> Salwitter</center> </h1>
   <p><center>A Twitter By Salman</center></p>
{% for posts in posts  %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+ posts.author.img_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ posts.author.username }}</a>
      <small class="text-muted">{{ posts.date_posted.strftime('%Y-%m-%d') }}</small>
    </div>
    <h2><a class="article-title" href="#">{{ posts.title }}</a></h2>
    <p class="article-content">{{ posts.content }}</p>
  </div>
</article>


{% endfor %}
{% endblock %}
